html,body {
	height: 100%;
	width: 100%;
	background-color: #0b1124;
	margin: 0;
	padding: 0;
}

.btn {
	margin: 10px;
}

.header {
	background-color: #070c1c;
	height: 10%;
	align-items: center;
	justify-content: center;
	display: flex;
	width: 100%;
}

.title {
	position: relative;
	color: #ecc52c;
}

#user-pfp-container {
	position: absolute;
	right: 0;
	justify-content: center;
	display: none;
}

#profile-pic {
	width: 58px;
	height: 58px;
	border-radius: 50%;
	object-fit: cover;
	margin-left: 10px;
	margin-right: 10px;
}

#username {
	color: #ecc52c;
}