.venv
.env
.gitignore
*/__pycache__/
__pycache__/
*/*.pyc
*.pyc
*.py[cod]
.build
.vscode
staticfiles
how_to_launch.txt
.venv
.env
*/__pycache__/
__pycache__/
*/*.pyc
*.pyc
*.py[cod]
.build
.vscode
staticfiles