body {
  background-image: url('../img/windows98bureau_plain_hill.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  background-color: #008080;
  font-family: 'Tahoma', Arial, sans-serif;
  margin: 0;
  padding: 0;
  flex-direction: column;
  max-height: 100vh;
  overflow: hidden;
}
