#explorerWindow .window-content ul {
  list-style-type: none;
  padding: 8px;
  margin: 0;
  background-color: #e0e0e0;
  border: 1px solid #b0b0b0;
  box-shadow: inset 1px 1px 0 #ffffff, inset -1px -1px 0 #808080;
}

#explorerWindow .window-content .list-item {
  display: flex;
  align-items: center;
  margin-top: 5px;
  box-sizing: border-box;
  padding: 8px;
  background-color: #dcdcdc;
  border: 1px solid #808080;
  box-shadow: inset 1px 1px 0 #ffffff, inset -1px -1px 0 #404040;
}

#explorerWindow .window-content .list-item:hover {
  background-color: #c0c0c0;
  cursor: pointer;
}

#explorerWindow .window-content .list-item .list-img {
  width: 32px;
  height: 32px;
  margin-right: 10px;
  font-size: 16px;
}

#explorerWindow .window-content .list-item .list-text {
  color: black;
  margin-bottom: 10px;
  text-align: right;
}

#explorerWindow .window-content .list-item button {
  background-color: #dcdcdc;
  border: 1px solid #808080;
  box-shadow: 1px 1px 0 #ffffff, -1px -1px 0 #404040;
  font-family: 'MS Sans Serif', Arial, sans-serif;
  font-size: 14px;
  color: black;
  padding: 8px;
  text-align: left;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  outline: none;
}

#explorerWindow .window-content .list-item button:hover {
  background-color: #c0c0c0;
  border: 1px solid #404040;
  box-shadow: 1px 1px 0 #808080, -1px -1px 0 #ffffff;
}

#explorerWindow .window-content .list-item button:active {
  background-color: #a9a9a9;
  border: 2px solid #404040;
  box-shadow: inset 2px 2px 0 #808080, inset -2px -2px 0 #ffffff;
}


#explorerWindow .window-content {
  padding: 15px;
  background-color: #dcdcdc;
  border: 2px solid #808080;
  box-shadow: inset 2px 2px 0 #ffffff, inset -2px -2px 0 #404040;
  flex-grow: 1;
  overflow-y: auto;
  height: calc(100% - 35px);
}

#explorerWindow {
  width: 450px;
  height: 420px;
  margin: auto;
  display: flex;
  flex-direction: column;
  z-index: 1000;
  border: 2px solid #000;
  background-color: #f9f6f6;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
}
