#information-window {
	width: auto;
	height: auto;
	border: 2px solid #000;
	box-shadow: 3px 3px 6px #aaa;
	background-color: #f9f6f6;
	margin: auto;
	display: flex;
	flex-direction: column;
	z-index: 2000;
	box-sizing: border-box;
  }

  #information-window .window-content {
	padding: 20px;
	background-color: #dcdcdc;
	border: 2px solid #808080;
	box-shadow: inset 2px 2px 0 #ffffff, inset -2px -2px 0 #404040;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	overflow-y: auto;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  #information-window .header-title {
	margin-right: auto;
  }

  #information-window ul {
	list-style-type: none;
	padding: 12px;
	margin: 0;
	background-color: #e0e0e0;
	border: 1px solid #b0b0b0;
	box-shadow: inset 1px 1px 0 #ffffff, inset -1px -1px 0 #808080;
	margin-bottom: 8px;
	box-sizing: border-box;
  }

  #information-window ul li {
	margin: 5px 0;
	padding: 2px;
	box-sizing: border-box;
  }