.taskbar .start-btn {
  background-color: #c0c0c0;
  border: 2px solid #fff;
  color: black;
  padding: 5px 10px;
  cursor: pointer;
  font-family: 'Tahoma', Arial, sans-serif;
  display: flex;
  align-items: center;
  gap: 5px;
  box-shadow: 2px 5px 5px #000;
}

.taskbar.start-icon {
  width: 32px;
  height: 32px;
}

.taskbar .start-menu {
  position: absolute;
  bottom: 40px;
  left: 5px;
  background-color: #f0f0f0;
  border: 2px solid #000;
  width: 150px;
  padding: 10px;
  font-family: 'Tahoma', Arial, sans-serif;
  z-index: 200;
}

.taskbar .start-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.taskbar .start-menu li {
  padding: 5px;
  cursor: pointer;
}

.taskbar .menu-btn {
  width: 100%;
  background-color: transparent;
  border: none;
  padding: 5px;
  text-align: left;
  cursor: pointer;
  font-family: 'Tahoma', Arial, sans-serif;
}

.taskbar .menu-btn:hover {
  background-color: #000080;
  color: #ffffff;
  border: none;
}
