#updateUserWindow {
	width: 350px;
	border: 2px solid #000;
	box-shadow: 3px 3px 6px #aaa;
	background-color: #f9f6f6;
	margin: auto;
	display: flex;
	flex-direction: column;
	z-index: 2000;
	box-sizing: border-box;
  }

  #updateUserWindow .header-title {
	margin-left: 20px;
  }


  #updateUserWindow .window-content {
	padding: 20px;
	background-color: #dcdcdc;
	border: 2px solid #808080;
	box-shadow: inset 2px 2px 0 #ffffff, inset -2px -2px 0 #404040;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	overflow-y: auto;
	box-sizing: border-box;
  }
