
#winBook {
  width: 700px;
  height: 400px;
  border: 2px solid #000;
  background-color: #f9f6f6;
  display: flex;
  flex-direction: column;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
  z-index: 2000;
}

#winBook .window-header {
  background: linear-gradient(to bottom, #0a68a2, #005a8c);
  color: #fff;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  border-bottom: 2px solid #000;
}

#winBook .window-content {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
  background-color: #dcdcdc;
  border: 2px solid #808080;
  box-shadow: inset 2px 2px 0 #fff, inset -2px -2px 0 #404040;
}

#winBook .tab-pane {
  flex-direction: column;
}

/*Search pannel */

#winBook .seach-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
}

#winBook .search-section {
  display: flex;
  flex-direction: row;
}

#winBook #search-tournament {
  height: 30px;
  padding: 5px;
  font-size: 14px;
  margin-bottom: 1px;
  border: 2px solid #000;
  background-color: #f0f0f0;
}

#winBook #search-button {
  padding: 5px 10px;
  font-size: 14px;
  background-color: #0a68a2;
  color: white;
  height: 30px;
  border: 2px solid #000;
  cursor: pointer;
}

#winBook #search-button:hover {
  background-color: #005a8c;
}

#winBook .result-list {
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
  border: 2px solid #808080;
  box-shadow: inset -2px -2px 0 #ffffff, inset 2px 2px 0 #404040, 2px 2px 0 #808080;
  overflow-y: auto;
  max-height: 200px;
  background-color: #d3d3d3;
  font-family: "MS Sans Serif", Arial, sans-serif;
}

#winBook .result-list li {
  padding: 10px;
  background-color: #e0e0e0;
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #404040;
  cursor: pointer;
  font-size: 16px;
  color: black;
  box-shadow: inset 1px 1px 0 #ffffff, inset -1px -1px 0 #404040;
}

#winBook .result-list li:hover {
  background-color: #a0a0a0;
  box-shadow: inset 1px 1px 0 #ffffff, inset -1px -1px 0 #404040;
  border-top: 1px solid #d0d0d0;
}

#winBook #create-tournament-name {
  height: 30px;
  padding: 5px;
  font-size: 14px;
  margin-bottom: 1px;
  border: 2px solid #000;
  background-color: #f0f0f0;
}

#winBook #create-tournament-button {
  width: 105px;
  font-size: 14px;
  background-color: #0a68a2;
  color: white;
  height: 30px;
  border: 2px solid #000;
  cursor: pointer;
}

#winBook #create-tournament-button:hover {
  background-color: #005a8c;
}


/*Search pannel */


/*Tournament pannel */

#winBook .tournament-content {
  flex: 1;
  padding: 10px;
  background-color: #dcdcdc;
  box-shadow: inset 2px 2px 0 #fff, inset -2px -2px 0 #404040;
}

#winBook .tournament-pane {
  margin-top: 11%;
  border: 2px solid #808080;
  box-shadow: inset 2px 2px #fff, inset -2px -2px #404040;
  padding: 10px;
  background: #f9f9f9;
  overflow-y: auto;
  flex-grow: 1;
  height: 85%;
}

#winBook .tournament-pane h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #000;
  text-shadow: 1px 1px #fff, -1px -1px #404040;
}

#winBook #player-list {
  list-style: none;
  padding: 0;
  margin: 10px 0;
  border: 2px solid #808080;
  background-color: #f9f9f9;
  box-shadow: inset -2px -2px 0 #ffffff, inset 2px 2px 0 #404040;
  max-height: 150px;
  overflow-y: auto;
}

#winBook #player-list li {
  padding: 5px 10px;
  font-size: 14px;
  background-color: #e0e0e0;
  color: #000;
  border-bottom: 1px solid #404040;
  box-shadow: inset 1px 1px 0 #ffffff, inset -1px -1px 0 #404040;
  cursor: default;
}

#winBook #player-list li:hover {
  background-color: #c0c0c0;
}

#winBook #ready-button {
  display: block;
  margin: 10px auto 0;
  padding: 5px 15px;
  font-size: 14px;
  font-weight: bold;
  color: #000;
  background: linear-gradient(to bottom, #a9a9a9, #c0c0c0);
  border: 2px solid #606060;
  box-shadow: inset 1px 1px 0 #bfbfbf, inset -1px -1px 0 #303030;
  cursor: pointer;
}

#winBook #ready-button:hover {
  background: linear-gradient(to bottom, #bdbdbd, #a3a3a3);
  box-shadow: inset 1px 1px 0 #b0b0b0, inset -1px -1px 0 #202020;
}


#winBook .tabs {
  display: flex;
  border-bottom: 2px solid #808080;
  background-color: #c0c0c0;
  cursor: pointer;
}

#winBook .tab {
  flex: 1;
  text-align: center;
  padding: 5px 10px;
  cursor: pointer;
  border: 2px solid transparent;
  border-bottom: none;
  box-sizing: border-box;
  font-size: 14px;
  background: #d0d0d0;
  color: black;
}

#winBook .tab.active {
  background: #f0f0f0;
  border-color: #808080 #808080 #f0f0f0;
  box-shadow: inset 1px 1px 1px #ffffff, inset -1px -1px 1px #404040;
  z-index: 2000;
}

#winBook .tab-content {
  border: 2px solid #808080;
  box-shadow: inset 2px 2px #fff, inset -2px -2px #404040;
  padding: 10px;
  background: #f9f9f9;
  overflow-y: auto;
  flex-grow: 1;
  height: 85%;
}

#winBook .tab-pane {
  display: none;
}

#winBook .tab-pane.active {
  display: block;
}

#winBook .button {
  padding: 5px 10px;
  margin-top: 5px;
  color: white;
  border: none;
}

#winBook .button:hover {
  cursor: pointer;
}
