networks:
  peas:
    name: peas
  chat:
    name: chat
    internal: true
  auth:
    name: auth
    internal: true
  matchmaking:
    name: matchmaking
    internal: true
  ai_game:
    name: ai_game
    internal: true

services:
  nginx:
    build: ./nginx
    ports:
      - "8443:8443"
    networks:
      - peas
    depends_on:
      - chat
      - auth
      - matchmaking

  chat:
    build: ./chat
    env_file:
      - ./conf/.env-chat
    ports:
      - "8000:8000"
    networks:
      - chat
      - peas
    depends_on:
      chat-db:
        condition: service_healthy

  chat-db:
    image: postgres:14
    restart: on-failure
    volumes:
      - chat-db-volume:/var/lib/postgresql/data
    env_file:
      - ./conf/.env-chat
    networks:
      - chat
    healthcheck:
      test: ["CMD-SHELL", "pg_isready --dbname=$$POSTGRES_DB --username=$$POSTGRES_USER"]
      interval: 1s
      timeout: 5s
      retries: 5

  auth:
    build: ./auth
    env_file:
      - ./conf/.env-auth
    ports:
      - "8001:8001"
    networks:
      - peas
      - auth
    depends_on:
      auth-db:
        condition: service_healthy

  auth-db:
    image: postgres:14
    restart: on-failure
    volumes:
      - auth-db-volume:/var/lib/postgresql/data
    env_file:
      - ./conf/.env-auth
    networks:
      - auth
    healthcheck:
      test: ["CMD-SHELL", "pg_isready --dbname=$$POSTGRES_DB --username=$$POSTGRES_USER"]
      interval: 1s
      timeout: 5s
      retries: 5


  matchmaking:
    build: ./matchmaking
    env_file:
      - ./conf/.env-matchmaking
    networks:
      - peas
      - matchmaking
    ports:
      - "8002:8002"
    depends_on:
      chat-db:
        condition: service_healthy

  matchmaking-db:
    image: postgres:14
    restart: on-failure
    volumes:
      - matchmaking-db-volume:/var/lib/postgresql/data
    env_file:
      - ./conf/.env-matchmaking
    networks:
      - peas
      - matchmaking
    healthcheck:
      test: ["CMD-SHELL", "pg_isready --dbname=$$POSTGRES_DB --username=$$POSTGRES_USER"]
      interval: 1s
      timeout: 5s
      retries: 5

  ai_game:
    container_name: ai_game
    build:
      context: ./ai_game
      dockerfile: Dockerfile
    # env_file:
    #   - ./conf/.env-ai_game
    networks:
      - peas
      - ai_game
    ports:
      - "8003:8003"
    # depends_on:
    #   game-db:
    #     condition: service_healthy
    
  # game-db:
  #   image: postgres:14
  #   restart: on-failure
  #   volumes:
  #     - game-db-volume:/var/lib/postgresql/data
  #   env_file:
  #     - ./conf/.env-game
  #   networks:
  #     - game
  #   healthcheck:
  #     test: ["CMD-SHELL", "pg_isready --dbname=$$POSTGRES_DB --username=$$POSTGRES_USER"]
  #     interval: 1s
  #     timeout: 5s
  #     retries: 5


volumes:
  chat-db-volume: {}
  auth-db-volume: {}
  game-db-volume: {}
  matchmaking-db-volume: {}