networks:
  peas:
    name: peas
  chat:
    name: chat
    internal: true
  auth:
    name: auth
    internal: true
  matchmaking:
    name: matchmaking
    internal: true

services:
  nginx:
    container_name: nginx
    build: ./nginx
    ports:
      - "8443:8443"
    networks:
      - peas
    depends_on:
      - chat
      - auth

  chat:
    container_name: chat
    build:
      context: ./chat
      dockerfile: Dockerfile.dev
    env_file:
      - ./conf/dev.env-chat
    ports:
      - "8000:8000"
    volumes:
      - ./chat/app:/app/
    networks:
      - chat
      - peas
    depends_on:
      chat-db:
        condition: service_healthy

  chat-db:
    container_name: chat-db
    image: postgres:14
    restart: on-failure
    volumes:
      - chat-db-volume:/var/lib/postgresql/data
    env_file:
      - ./conf/dev.env-chat
    networks:
      - chat
    healthcheck:
      test: ["CMD-SHELL", "pg_isready --dbname=$$POSTGRES_DB --username=$$POSTGRES_USER"]
      interval: 1s
      timeout: 5s
      retries: 5

  auth:
    container_name: auth
    build:
      context: ./auth
      dockerfile: Dockerfile.dev
    env_file:
      - ./conf/dev.env-auth
    volumes:
      - ./auth/app:/app/
    ports:
      - "8001:8001"
    networks:
      - peas
      - auth
    depends_on:
      auth-db:
        condition: service_healthy

  auth-db:
    container_name: auth-db
    image: postgres:14
    restart: on-failure
    volumes:
      - auth-db-volume:/var/lib/postgresql/data
    env_file:
      - ./conf/dev.env-auth
    networks:
      - auth
    healthcheck:
      test: ["CMD-SHELL", "pg_isready --dbname=$$POSTGRES_DB --username=$$POSTGRES_USER"]
      interval: 1s
      timeout: 5s
      retries: 5


  matchmaking:
    container_name: matchmaking
    build:
      context: ./matchmaking
      dockerfile: Dockerfile.dev
    env_file:
      - ./conf/dev.env-matchmaking
    volumes:
      - ./matchmaking/app:/app/
    networks:
      - peas
      - matchmaking
    ports:
      - "8002:8002"
    depends_on:
      matchmaking-db:
        condition: service_healthy

  matchmaking-db:
    container_name: matchmaking-db
    image: postgres:14
    restart: on-failure
    volumes:
      - matchmaking-db-volume:/var/lib/postgresql/data
    env_file:
      - ./conf/dev.env-matchmaking
    networks:
      - peas
      - matchmaking
    healthcheck:
      test: ["CMD-SHELL", "pg_isready --dbname=$$POSTGRES_DB --username=$$POSTGRES_USER"]
      interval: 1s
      timeout: 5s
      retries: 5


volumes:
  chat-db-volume: {}
  auth-db-volume: {}
  matchmaking-db-volume: {}