<div class="window" id="accountWindow" style="display: none;">
    
  <div class="window-header">

    <div class="arrow-buttons">
      <button class="left-arrow"> &lt </button>
      <button class="right-arrow"> &gt </button>
    </div>
    <div class="header-title">Account</div>
    <button class="close-button">X</button>
  
  </div>

  <div class="window-content">

    <div class="account-page" id="account-page-0" style="display: none">
      <div class="user-img">
        <img src="img/png/game_spider-0.png">
        <span>default pseudo</span>
      </div>

      <ul>
        <li>name: default </li>
        <li>email address: default@gmail.com</li>
        <li>status: active</li>
      </ul>
    </div>

    <div class="account-page" id="account-page-1" style="display: none">
      <div class="user-stat-title"> User statistic </div>

      <ul>
        <li>winrate: 8</li>
        <li>number of matches: 10</li>
        <li>average match time: 2min</li>
      </ul>
    </div>

    <div class="account-page" id="account-page-2" style="display: none">
      <div class="user-friends-title"> User friends </div>

      <ul class="friends-list">
        <li class="friend-item">
          <span class="friend-name">user2:</span>
          <button>See profile</button>
        </li>
        <li class="friend-item">
          <span class="friend-name">user3:</span>
          <button>See profile</button>
        </li>
        <li class="friend-item">
          <span class="friend-name">user4:</span>
          <button>See profile</button>
        </li>
      </ul>
      
    </div>

    <div class="number-pages">1/4</div>
  </div>
</div>
