<div class="desktop-icons">

  <div class="icon" draggable="true" id="Poste de travail">
      <img src="img/png/computer-0.png" alt="My Computer">
      <p class="icon-text">Poste de travail</p>
  </div>


  <div class="icon" draggable="true" id="Msn">
    <img src="img/png/msn.png" alt="Msn">
    <p class="icon-text">Msn</p>
  </div>

  <div class="icon" draggable="true" id="Pong">
    <img src="img/png/game_freecell-0.png" alt="Pong">
    <p class="icon-text">Pong</p>
  </div>

  <div class="icon" draggable="true" id="Winbook">
    <img src="img/png/internet_connection_wiz-0.png" alt="Pong">
    <p class="icon-text">Winbook</p>
  </div>

  <div class="icon" draggable="true" id="Corbeille">
    <img src="img/png/recycle_bin_directory.png" alt="Recycle Bin">
    <p class="icon-text">Corbeille</p>
</div>
</div>

